{{template "header.html" .}}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header">
			<h2>マルバツゲーム</h2>
		</div>

		{{/* $.Turnは手番 */}}
		<div class="alert alert-info">
			{{if $.win}}
			[{{$.winner}}の勝ち]
			{{else if $.Draw}}
			[引き分け]
			{{else}}
			[{{$.turn}}の番です。]
			{{end}}
		</div>
		<br>
		<form action="/tic/game2" method="post">
			{{/* 手番は、inputタグのhiddenで送信 */}}
			<input type="hidden" name="turn" value="{{$.turn}}">
			<table>
				{{range $row, $rows := $.board}}
				<tr>
					{{range $col, $cell := $rows}}
					<td>
						{{if $cell}} {{/* 「"○"」または「"×"」の場合 */}}
						{{$cell}}
						<input type="hidden" name="c{{$row}}{{$col}}" value="{{$cell}}">
						{{else}} {{/* 「""」の場合 */}}
						<button name="c{{$row}}{{$col}}" value="{{$.turn}}"></button>
						{{end}}
					</td>
					{{end}}
				</tr>
				{{end}}
			</table>
		</form>
		<a href="/tic/game">最初に戻る</a>

	</div>
</div>
{{template "footer.html" .}}