{{template "header.html" .}}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header">
			<h2>マルバツゲーム</h2>
		</div>

		<h4>ゲームモードを選択してください。</h4>
			<form action="/tic/game" method="get">
			<div class="radio">
				<td>
					<input type="radio" name="mode" value="1" checked="checked">
					1人プレイ
				</td>
				<td>
					<input type="radio" name="mode" value="2">
					2人プレイ
				</td>
			</div>
			<input type="submit" class="btn btn-primary" value="ゲーム開始">
		</form>
		<a href="/">メニューに戻る</a>

	</div>
</div>
{{template "footer.html" .}}