{{template "header.html" .}}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header">
			<h2>マルバツゲーム</h2>
		</div>

		<div class="alert alert-info">
			{{if $.win}}
			[{{$.winner}}の勝ち]
			{{else if $.draw}}
			[引き分け]
			{{else}}
			[{{$.turn}}の番です。]
			{{end}}
		</div>
		<br>
		<form action="/tic/game" method="post">
			{{/* 手番は、inputタグのhiddenで送信 */}}
			<input type="hidden" name="turn" value="{{$.turn}}">
			<table id="tic-table">
				{{range $row, $rows := $.board}}
				<tr>
					{{range $col, $cell := $rows}}
					<td class="tic-td">
						{{if $cell}} {{/* 「"○"」または「"×"」の場合 */}}
						{{$cell}}
						<input type="hidden" name="c{{$row}}{{$col}}" value="{{$cell}}">
						{{else}} {{/* 「""」の場合 */}}
						<button name="c{{$row}}{{$col}}" value="{{$.turn}}" class="tic-cell"></button>
						{{end}}
					</td>
					{{end}}
				</tr>
				{{end}}
			</table>
		</form>
		<div class="buttom-link">
			<a href="/tic/mode">モード選択へ戻る</a>
			<a href="/">メニューに戻る</a>
		</div>

	</div>
</div>
{{template "footer.html" .}}